<p style="color: green"><%= notice %></p>
<% if admin_signed_in? %>
<h1>All feedback</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Date/time</th>
      <th>Room</th>
      <th>Feedback</th>
      <th>Rating</th>
      <th colspn="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @feedbacks.each do |feedback| %>
        <tr>
          <td><%= feedback.created_at %></td>
          <td><%= feedback.room %></td>
          <td><%= feedback.body %></td>
          <td><%= feedback.happy %></td>
          <td>
            <% link_to 'Show', feedback %>
            <%= link_to 'Delete', feedback, class: "btn btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr> 
    <% end %>
  </tbody>

</table>
<% else %>
<h1>You are not permitted to view this page</h1>
<%= link_to "Back to form", root_path%>
<% end %>

<% link_to "New feedback", new_feedback_path %>

