<p style="color: green"><%= notice %></p>

<%= render @feedback %>

<div>
  <%= link_to "Edit your comment", edit_feedback_path(@feedback) %> |
  <%= link_to "Back", feedbacks_path %>

  <%= button_to "Delete your comment", @feedback, method: :delete %>
</div>
